.background { 
    color: tan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: dark brown ;
 }

 h5 {
     background-color: dark gray;
     border-radius: 30px;
 }
 /* //https://www.w3schools.com/css/css_background.asp */
 body {
    background-image: url("wood.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Freckle Face', cursive;
  }
  #profile {
      border-radius: 20px;
      width: 200px;
      float: left;
  }

  li {
      /* background-color: khaki; */
      background-origin: padding-box;
      float: inline-start;
      /* opacity: 45%; */
  } 
  
  ul {
      background-color: khaki;
      opacity: 45%;
  }

  #topTen {
    margin-left: 50%;
    margin-top: 30px; 
    it
